	<ul class="nav">
			<li><a href="/" _t_nav="head">首页</a></li>
			<li><a href="/about.html" _t_nav="about">关于我们</a></li>
			<li><a href="/process.html" _t_nav="process">交易流程</a></li>
			<li><a href="/booking/request.html" _t_nav="booking">私人定制</a></li>
			<li><a href="#" _t_nav="products">成品展示</a></li>
			<li><a href="http://bbs.biyebao.cn" href="_blank" _t_nav="shequ">毕业宝社区</a></li>
	</ul>
	 <div  id="products" class="sub_navigator" style="display: none;"  _t_nav="products">
		<div class="nav-down-menu menu-3">
			<div class="navigation-down-inner">
				<dl style="margin-left: 1180px;">
					<dd>
						<a href="/column/JSP.html">JSP设计</a>
					</dd>
				</dl>
				<dl>
					<dd>
						<a  href="/column/ASP.html">ASP设计</a>
					</dd>
				</dl>
				<dl>
					<dd>
						<a href="/column/PHP.html">PHP设计</a>
					</dd>
				</dl>
				<dl>
					<dd>
						<a href="/column/Android.html">Android设计</a>
					</dd>
				</dl>
			</div>
		</div>
		
	 </div>