	<div class="top_title">
    		<ul>
    			<li>
    				<a href="#" id="setfavorite" title="毕业宝|计算机毕业设计代做">收藏本站</a>
    			</li>
    			<li>
    				<a href="#" id="sethomepage" title="毕业宝|计算机毕业设计代做">设为首页</a>
    			</li>
    			<li>
    				<a href="#">交易流程</a>
    			</li>
    		</ul>
    	</div>